<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.7s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>

<script src="school_digger_response" type="text/javascript"></script>
</head>
<body>

<div class="jumbtron text-center">
    <h2>Find k-12 schools and school district you are in: </h2>

    <br>

</div>
<div class="jumbtron text-center">
    <form>
        <input id="an_address" type="text" name="search" placeholder="Type your address:">
    </form>
    <br>
    <button id="submit_to_api" type="submit" class="btn btn-primary btn-lg" onclick="location.href='school_digger_response'" >Submit</button>

</div>

<br>

<div class="jumbtron text-center">
    <h2>Find College info: </h2>
    <br>
</div>


<div class="jumbtron text-center">
    <form>
        <input type="text" name="search" placeholder="Type your address: ">
    </form>
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</div>


</body>
</html>
